html,
body {
  margin:0;
  padding:0;
  height:100%;
}

#head {/*PostmodernPaul logo*/
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
#goals {/*For image on home page initially, then used in work page*/
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
#logo2 {/*Link image at bottom of pages*/
  display: block;
  margin-left: auto;
  margin-right: auto
}
#end{/*Div containing link image at bottom of page*/
   position:absolute;
   bottom:0;
   width:99%;
}
.midsection{
  margin-bottom: 81px;
}

#full{/*div for  full page*/
  min-height:100%;
  position:relative;
}

#aboutText{
  text-align: center;
  font-size: 150%;
  margin: auto;
  max-width: 75%;/*This changes how narrow the text is*/
}
#icon {/*face image*/
    max-width: 25%;
    max-height: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#contactText{
  text-align: center;
  font-size: 150%;
}
.row {/*Split part of about page*/
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
    font-size: 20px;
}

.navbar-collapse {
    text-align: center;
}

.navbar-nav {
    display: inline-block;
    float: none;
}
