html,
body {
  margin:0;
  padding:0;
  height:100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

#head {/*PostmodernPaul logo*/
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
#goals {/*For image on home page initially, then used in work page*/
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
#logo2 {/*Link image at bottom of pages*/
  max-height:10vh;
  display: block;
  margin-left: auto;
  margin-right: auto
}
#end{/*Div containing link image at bottom of page*/
   position:absolute;
   bottom:0;
   width:99%;
}
.midsection{
  margin-bottom: 81px;
}

#full{/*div for  full page*/
  min-height:100%;
  position:relative;
}
@media (min-width: 1200px){/*Large devices*/
  /*@media allows separating the css between the views*/
  #aboutText{
    text-align: left;
    font-size: 150%;
    max-width: 50%;/*This changes how narrow the text is*/
    line-height: 1.6;
  }
  #icon {/*face image*/
      max-width: 21%;
      max-height: 21%;
      display: block;
      float: right;
    }
  }
  @media (min-width: 992px) and (max-width: 1200px){/*Medium devices*/
    #aboutText{
      text-align: left;
      font-size: 150%;
      max-width: 50%;/*This changes how narrow the text is*/
      line-height: 1.6;
    }
    #icon {/*face image*/
        max-width: 30%;
        max-height: 30%;
        display: block;
        float: right;
      }
    }
  @media (min-width: 768px) and (max-width: 992px){/*Small devices*/
    #aboutText{
      text-align: left;
      font-size: 150%;
      max-width: 50%;/*This changes how narrow the text is*/
      line-height: 1.6;
    }
    #icon {/*face image*/
        max-width: 40%;
        max-height: 40%;
        display: block;
        float: right;
      }
    }
@media (max-width: 768px){/*Extra small devices*/
  #aboutText{
    text-align: center;
    font-size: 150%;
    max-width: 60%;/*This changes how narrow the text is*/
    line-height: 1.6;
    margin: auto;
  }
  #icon {/*face image*/
      max-width: 35%;
      max-height: 35%;
      display: block;
      float: center;
      margin: auto;
    }
  }

#contactText{
  text-align: center;
  font-size: 150%;
}
.row {/*Split part of about page*/
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
    font-size: 20px;
}

.navbar-collapse {
    text-align: center;
}

.navbar-nav {
    display: inline-block;
    float: none;
}
